@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cubic 11';
  src: url('./assets/Cubic_11_1.013_R.woff2') format('woff2');
}

@layer utilities {
  .text-3xl-auto {
    font-size: clamp(1rem, 2vw, 1.875rem);
    line-height: 1.25;
  }

  .h-screen-160 {
    height: calc(100vh - 160px);
    min-height: 32rem; /* 512px */
  }
}

.text-primary3 {
  color: theme(colors.primary3);
}

.text-primary2 {
  color: theme(colors.primary2);
}

.text-primary1 {
  color: theme(colors.primary1);
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}
